// 5050 == 50.50
function moneyFixed(money){
  return (money/100).toFixed(2);
};
//95 == 9.5
function moneyDiscount(money){
  return (money/10).toFixed(1);
};
//5000 == 50
function moneyInteger(money){
  return (parseInt(money/100));
};

//全民营销--推广类型
function bonusType(type){
  if(type == 1){  //新会员并下单奖励
    return "首单奖励";
  }else if(type == 2){  //推广佣金提成
    return "推广住店佣金";
  }else if(type == 3){  //发展会员佣金提成
    return "发展会员佣金";
  }else{ 
    return "其他";
  }
}
//OTA订单类型
function otaType(type){
  if(type == 'CC'){
    return "现付有担保";
  }else if(type == 'CPD'){
    return "闪住";
  }else if(type == 'OTACASH'){
    return "现付无担保";
  }else if(type == 'OTAPREPAY'){
    return "预付";
  }else{
    return "其他类型";
  }
}
module.exports = {
  moneyFixed:moneyFixed,
  moneyDiscount:moneyDiscount,
  moneyInteger:moneyInteger, 

  bonusType:bonusType,
  otaType:otaType,
};
