// 5050 == 50.50
function moneyFixed(money){
  return (money/100).toFixed(2);
};
//95 == 9.5
function moneyDiscount(money){
  return (money/10).toFixed(1);
};
//5000 == 50
function moneyInteger(money){
  return (parseInt(money/100));
};

//全民营销--推广类型
function bonusType(type){
  switch (type) {
    case 1 : return "首单奖励";  //新会员并下单奖励
    case 2 : return "推广住店佣金"; //推广佣金提成
    case 3 : return "发展会员佣金"; //发展会员佣金提成
    default: return '其他';
  }
}
//room订单状态
function roomType(type){
  switch (type) {
    case 11 : return "待支付";
    case 12 : return "已取消";
    case 13 : return "超时已取消";
    case 21 : return "支付中";
    case 22 : return "待入住";
    case 23 : return "退款申请中";
    case 24 : return "退款成功";
    case 25 : return "已支付";
    case 26 : return "退款失败";
    case 31 : return "已入住";
    case 32 : return "已续住";
    case 41 : return "已申请退房";
    case 51 : return "已结单";
    case 61 : return "已结单";
    default: return '未知状态';
  }
}
//OTA订单类型
function otaType(type){
  switch (type) {
    case 'CC' : return "现付有担保";
    case 'CPD' : return "闪住";
    case 'OTACASH' : return "现付无担保";
    case 'OTAPREPAY' : return "预付";
    default: return '其他类型';
  }
}
//market订单类型
function marketType(type){
  switch (type) {
    case 0 : return "未支付";
    case 1 : return "已取消";
    case 2 : return "已支付";
    case 3 : return "已发货";
    case 4 : return "申请退款";
    case 5 : return "退款失败";
    case 6 : return "已结单";
    default: return '未知状态';
  }
}

function numSpace(num){  //返回数字每四个空一格子
  var arr = ''
  for(var i=0;i<parseInt(num.length/4)+1;i++){
    arr += num.substring(0+i*4,4+i*4)+' '
  }
  return arr
}

module.exports = {
  moneyFixed:moneyFixed,
  moneyDiscount:moneyDiscount,
  moneyInteger:moneyInteger, 

  bonusType:bonusType,
  roomType:roomType,
  otaType:otaType,
  marketType:marketType,

  numSpace:numSpace,
};
